<ul class="sidebar" {{highlight linkSelector="li a" elementSelector="h2"}}>
  {{#each this.data.topics as |topic|}}
    <li>
      <a href="#{{slug topic.name}}" {{link-inline}}>
        {{topic.name}}
      </a>
    </li>
  {{/each}}
</ul>

{{#each this.data.topics as |topic|}}
  <div class="section">
    <h2 class="section__title" id={{slug topic.name}}>
      <img src="/data-in-publications-guide/icons/{{slug topic.icon}}.svg" alt={{topic.name}} />

      <span>
        {{topic.title}}
      </span>
    </h2>

    <p class="section__text">
      {{topic.description}}
    </p>

    <div class="section__buttons">
      <button type="button" {{on "click" (fn this.openAll topic.recommendations)}}>
        open all
      </button>

      <button type="button" {{on "click" (fn this.closeAll topic.recommendations)}}>
        close all
      </button>
    </div>

    {{#each topic.recommendations as |recommendation|}}
      {{#let (get this.state recommendation.id) as |open|}}
        <div class="section__group {{if open 'section__group--open'}}">
          <h3
            role="button"
            id="rec-{{recommendation.id}}"
            class="section__group__title"
            {{on "click" (fn this.open recommendation.id (not open))}}
          >
            <span>{{recommendation.title}}</span>

            {{#if open}}
              <Icons::ChevronUp />
            {{else}}
              <Icons::ChevronDown />
            {{/if}}
          </h3>

          {{#if open}}
            {{#if recommendation.image}}
              <div class="section__group__image">
                <img src="/data-in-publications-guide/images/{{recommendation.image}}.svg" />
              </div>
            {{/if}}

            <h4 class="section__group__sub-title">
              Why
            </h4>

            <div class="section__group__text">
              {{{auto-link (nl2br recommendation.why)}}}
            </div>

            <h4 class="section__group__sub-title">
              How
            </h4>

            {{#if recommendation.how}}
              <div class="section__group__text">
                {{{auto-link (nl2br recommendation.how)}}}
              </div>
            {{/if}}

            {{#if recommendation.howList}}
              <ul class="section__group__list">
                {{#each recommendation.howList as |item|}}
                  <li>{{auto-link (nl2br item)}}</li>
                {{/each}}
              </ul>
            {{/if}}

            {{#if recommendation.gallery.length}}
              <div class="section__group__gallery">
                <Slideshow @items={{recommendation.gallery}} as |item|>
                  <img src="/data-in-publications-guide/images/{{item.image}}.svg" />
                  <p>{{item.text}}</p>
                </Slideshow>
              </div>
            {{/if}}

            {{#if recommendation.howAfter}}
              <div class="section__group__text">
                {{{auto-link (nl2br recommendation.howAfter)}}}
              </div>
            {{/if}}

            {{#if recommendation.resources}}
              <h4 class="section__group__sub-title">
                Resources
              </h4>

              {{#each recommendation.resources as |resource|}}
                <div class="section__group__item">
                  <div class="section__group__item__icon">
                    <Icons::External />
                  </div>

                  <div class="section__group__item__text">
                    <a href={{resource.link}} target="_blank" rel="noopener noreferrer">
                      {{resource.title}}
                    </a>
                  </div>
                </div>
              {{/each}}
            {{/if}}

            {{#if recommendation.contacts}}
              <h4 class="section__group__sub-title">
                Contacts
              </h4>

              {{#each recommendation.contacts as |contact|}}
                <div class="section__group__item">
                  <div class="section__group__item__icon">
                    <Icons::External />
                  </div>

                  <div class="section__group__item__text">
                    <a href={{contact.link}} target="_blank" rel="noopener noreferrer">
                      {{contact.title}}
                    </a>
                  </div>
                </div>
              {{/each}}
            {{/if}}

            {{#if recommendation.examples}}
              <h4 class="section__group__sub-title">
                Examples
              </h4>

              {{#each recommendation.examples as |example|}}
                <div class="section__group__item section__group__item--spaced">
                  <div class="section__group__item__icon">
                    <Icons::External />
                  </div>

                  <div class="section__group__item__text">
                    <a href={{example.link}} target="_blank" rel="noopener noreferrer">
                      {{example.title}}
                    </a>
                    <br />
                    {{example.short}}
                  </div>
                </div>
              {{/each}}
            {{/if}}

            {{#if recommendation.related}}
              <h4 class="section__group__sub-title">
                See Also
              </h4>

              {{#each recommendation.related as |related|}}
                <div class="section__group__item">
                  <div class="section__group__item__icon">
                    <Icons::External @straight={{true}} />
                  </div>

                  <div class="section__group__item__text">
                    <a href="#rec-{{related.id}}" {{on "click" (fn this.open related.id)}} {{link-inline}}>
                      {{related.item.title}}
                    </a>
                  </div>
                </div>
              {{/each}}
            {{/if}}
          {{/if}}
        </div>
      {{/let}}
    {{/each}}
  </div>
{{/each}}