<ul class="sidebar" {{highlight linkSelector="li a" elementSelector="h2"}}>
  {{#each @topics as |topic|}}
    <li>
      <a href="#{{slug topic}}" {{link-inline}}>
        {{topic}}
      </a>
    </li>
  {{/each}}
</ul>

{{#each-in @recommendations as |topic recommendations|}}
  <div class="section">
    <h2 class="section__title" id={{slug topic}}>
      <img src="icons/{{slug topic}}.svg" alt="Topic Illustration" />
      <span>{{topic}}</span>
    </h2>

    <div class="section__buttons">
      <button type="button" {{on "click" (fn this.openAll recommendations)}}>
        Open All
      </button>

      <button type="button" {{on "click" (fn this.closeAll recommendations)}}>
        Close All
      </button>
    </div>

    {{#each recommendations as |recommendation|}}
      <div class="section__group">
        {{#let (get this.state recommendation.id) as |open|}}
          <h3 role="button" class="section__group__title" {{on "click" (fn this.open recommendation.id (not open))}}>
            <span>{{recommendation.title}}</span>

            {{#if open}}
              <Icons::ChevronUp />
            {{else}}
              <Icons::ChevronDown />
            {{/if}}
          </h3>

          {{#if open}}
            <h4 class="section__group__sub-title">
              Why
            </h4>

            <div class="section__group__text">
              {{recommendation.why}}
            </div>

            {{#if recommendation.how}}
              <h4 class="section__group__sub-title">
                How
              </h4>

              <div class="section__group__text">
                {{recommendation.how}}
              </div>
            {{/if}}

            {{#if recommendation.gallery.length}}
              <div class="section__group__gallery">
                <Slideshow @items={{recommendation.gallery}} as |item|>
                  <img src="images/{{item.image}}.svg" />
                  <p>{{item.text}}</p>
                </Slideshow>
              </div>
            {{/if}}

            {{#if recommendation.resources}}
              <h4 class="section__group__sub-title">
                Resources
              </h4>

              {{#each recommendation.resources as |resource|}}
                <div class="section__group__text">
                  <a href={{resource.link}} rel="noopener noreferrer">
                    <Icons::External />
                    <strong>{{resource.title}}</strong>
                  </a><br />
                  {{resource.short}}
                </div>
              {{/each}}
            {{/if}}

            {{#if recommendation.contacts}}
              <h4 class="section__group__sub-title">
                Contacts
              </h4>

              {{#each recommendation.contacts as |contact|}}
                <div class="section__group__text">
                  <a href="mailto:{{contact.link}}" rel="noopener noreferrer">
                    <Icons::External />
                    <strong>{{contact.title}}</strong>
                  </a><br />
                  {{contact.short}}
                </div>
              {{/each}}
            {{/if}}

            {{#if recommendation.examples}}
              <h4 class="section__group__sub-title">
                Examples
              </h4>

              {{#each recommendation.examples as |example|}}
                <div class="section__group__text">
                  <a href={{example.link}} rel="noopener noreferrer">
                    <Icons::External />
                    <strong>{{example.title}}</strong>
                  </a><br />
                  {{example.short}}
                </div>
              {{/each}}
            {{/if}}
          {{/if}}
        {{/let}}
      </div>
    {{/each}}
  </div>
{{/each-in}}