<div class="sub-nav-wrapper">
  <div class="sub-nav">
    {{#each this.data.questionTopics as |topic index|}}
      <LinkTo class="sub-nav__item" @route="questions" @query={{hash page=(add index 1)}}>
        {{topic}}
      </LinkTo>

      <Icons::NavDivider />
    {{/each}}

    <LinkTo class="sub-nav__item" @route="questions" @query={{hash page="rec"}}>
      Recommendations
    </LinkTo>
  </div>
</div>

{{#if (eq this.page "rec")}}
  <div class="header">
    <h1 class="header__title">
      Recommendations for you
    </h1>

    <p class="header__text">
      This wizard helps you create more user-friendly, modern publications. Answer some simple questions and receive
      recommendations for your publication.
    </p>

    <div class="header__button" role="button" {{on "click" this.print}}>
      <Icons::Print />
      <span>Print Page</span>
    </div>

    <div class="header__button" role="button" {{on "click" this.share}}>
      <Icons::Link />
      <span>Share Page</span>
    </div>
  </div>

  <div class="page">
    <Catalog @topics={{this.filteredTopics}} @recommendations={{this.filteredGroupedRecommendations}} />
  </div>
{{else}}
  <div class="header">
    <h1 class="header__title">
      Questions on your publication
    </h1>

    <p class="header__text">
      In the context of the Publication Wizard, a publication can be any type of published content. This includes press
      releases, leaflets, brochures, assessments, briefs and summaries, reports, studies and books both in print and
      online.
    </p>
  </div>

  <div class="page">
    <h2 class="title1 title1__capped">
      {{get this.data.questionTopics (sub this.page 1)}}
    </h2>

    {{#each (get this.filteredGroupedQuestions (get this.data.questionTopics (sub this.page 1))) as |question|}}
      <div class="question">
        <h2 class="title2 title2__capped">
          {{question.title}}
        </h2>

        <p class="large">
          {{question.desc}}
        </p>

        {{#if (eq question.format "text")}}
          <p>
            <label>
              <input
                type="text"
                class="input"
                name={{question.id}}
                placeholder="Publication Title"
                value={{this.title}}
                {{on "change" this.setTitle}}
              />
            </label>
          </p>
        {{else if (or (eq question.format "multiple") (eq question.format "single"))}}
          <div class="controls">
            {{#each question.options as |option|}}
              <div>
                {{#if (eq question.format "multiple")}}
                  <div
                    role="checkbox"
                    class="checkbox {{if (get this.answers option.id) 'checked'}}"
                    aria-checked={{get this.answers option.id}}
                    {{on "click" (fn this.toggleAnswer question.id option.id (not (get this.answers option.id)))}}
                  >
                    {{option.title}}
                  </div>
                {{else if (eq question.format "single")}}
                  <div
                    role="radio"
                    class="radio {{if (eq (get this.answers question.id) option.id) 'checked'}}"
                    aria-checked={{eq (get this.answers question.id) option.id}}
                    {{on "click" (fn this.setAnswer question.id option.id)}}
                  >
                    {{option.title}}
                  </div>
                {{/if}}
              </div>
            {{/each}}
          </div>
        {{/if}}
      </div>
    {{else}}
      <div class="question">
        <p class="large">
          No questions here, please continue.
        </p>
      </div>
    {{/each}}

    <div class="buttons">
      {{#if (gt this.page 1)}}
        <button type="button" class="button" {{on "click" (queue (scroll-top) (fn (mut this.page) (sub this.page 1)))}}>
          Prev
        </button>
      {{else}}
        <span></span>
      {{/if}}

      {{#if (gt this.data.questionTopics.length this.page)}}
        <button
          type="button"
          class="button button__primary"
          {{on "click" (queue (scroll-top) (fn (mut this.page) (add this.page 1)))}}
        >
          Next
        </button>
      {{else}}
        <LinkTo @route="questions" @query={{hash page="rec"}} class="button button__primary">
          Get Recommendations
        </LinkTo>
      {{/if}}
    </div>
  </div>
{{/if}}